@charset "utf-8";
body,a{color:#222;}

p.no-data,p.no-next-data{text-align:center;font-size:.14rem;color:#aaa;text-shadow:1px 1px 0 #fff;line-height:1em;}
p.no-data{padding:.5rem .2rem;}
p.no-next-data{padding:.2rem 0;}

.ui-card{background-color:#fff;}
.ui-card-padd{padding:.2rem;}
.ui-card-overline{border-top:solid 1px #eaeaea;}
.ui-card-underline{border-bottom:solid 1px #eaeaea;}
.ui-card-mar-top{margin-top:.1rem;}
.ui-card-mar-btm{margin-bottom:.1rem;}
.ui-card-pos-rel{position:relative;}

.ui-content-size{height:calc(100vh - .5rem);}
.ui-content-fixed{top:.5rem;}

/* swiper */
.swiper-container{margin:0 auto;position:relative;overflow:hidden;z-index:1;}
.swiper-container-no-flexbox .swiper-slide{float:left;}
.swiper-container-vertical>.swiper-wrapper{-webkit-box-orient:vertical;-moz-box-orient:vertical;-ms-flex-direction:column;-webkit-flex-direction:column;flex-direction:column;}
.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
.swiper-container-android .swiper-slide,.swiper-wrapper{-webkit-transform:translate3d(0px, 0, 0);-moz-transform:translate3d(0px, 0, 0);-o-transform:translate(0px, 0px);-ms-transform:translate3d(0px, 0, 0);transform:translate3d(0px, 0, 0);}
.swiper-container-multirow>.swiper-wrapper{-webkit-box-lines:multiple;-moz-box-lines:multiple;-ms-flex-wrap:wrap;-webkit-flex-wrap:wrap;flex-wrap:wrap;}
.swiper-container-free-mode>.swiper-wrapper{-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out;margin:0 auto;}
.swiper-slide{-webkit-flex-shrink:0;-ms-flex:0 0 auto;flex-shrink:0;width:100%;height:100%;position:relative;}
/* Auto Height */
.swiper-container-autoheight,.swiper-container-autoheight .swiper-slide{height:auto;}
.swiper-container-autoheight .swiper-wrapper{-webkit-box-align:start;-ms-flex-align:start;-webkit-align-items:flex-start;align-items:flex-start;-webkit-transition-property:-webkit-transform, height;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform, height;}
/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal{-ms-touch-action:pan-y;touch-action:pan-y;}
.swiper-wp8-vertical{-ms-touch-action:pan-x;touch-action:pan-x;}
/* Scrollbar */
.swiper-scrollbar{border-radius:10px;position:relative;-ms-touch-action:none;background:rgba(0, 0, 0, 0.1);}
.swiper-container-horizontal>.swiper-scrollbar{position:absolute;left:1%;bottom:3px;z-index:50;height:5px;width:98%;}
.swiper-container-vertical>.swiper-scrollbar{position:absolute;right:3px;top:1%;z-index:50;width:5px;height:98%;}
.swiper-scrollbar-drag{height:100%;width:100%;position:relative;background:rgba(0, 0, 0, 0.5);border-radius:10px;left:0;top:0;}
.swiper-scrollbar-cursor-drag{cursor:move;}

/* 通用列表 */
.generic-list dl{min-height:.9rem;padding:.2rem;position:relative;background-color:#fff;}
.generic-list dl:last-of-type:after{display:none;}
.generic-list dl>dt{position:absolute;width:.9rem;height:.9rem;overflow:hidden;}
.generic-list dl>dt>img{display:block;width:100%;height:100%;}
.generic-list dl>dt>span{position:absolute;left:0;top:0;z-index:1;background-color:#f39935;font-size:.1rem;line-height:.16rem;padding:0 .06rem;color:#fff;border-bottom-right-radius:.05rem;white-space:nowrap;}
.generic-list dl>dd{margin-left:1.1rem;height:0.9rem;position:relative;}
.generic-list dl>dd>h4{font-size:.15rem;color:#222;line-height:.21rem;position:relative;top:-.03rem;word-break:break-all;
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-orient:vertical;
}
.generic-list dl>dd>h4.single-row{-webkit-line-clamp:1;}
.generic-list dl>dd>h4 span{padding-right:.08rem;margin-right:.08rem;position:relative;}
.generic-list dl>dd>h4 span:after{background-color:#222;height:90%;}

.generic-list dl>dd>div.item-info{margin-top:.05rem;}
.generic-list dl>dd>div.item-info>.shop-name{color:#999;}
.generic-list dl>dd>div.item-info>.shop-name:after{color:#2ebcff;margin-left:.05rem;}

.generic-list dl>dd>.service-price{color:#2cbcff;font-size:.1rem;position:absolute;bottom:.2rem;}
.generic-list dl>dd>.service-price>b{font-size:.17rem;}
.generic-list dl>dd>.service-price>s{color:#999;font-size:.12rem;display:inline-block;margin-left:.05rem;}
.generic-list dl>dd>.service-price>s:first-letter{font-size:.1rem;}
.generic-list dl>dd>.service-price>s>i{text-decoration:line-through;}

.generic-list dl>dd>span.clicked,.generic-list dl>dd>div.tags,.generic-list dl>dd>div.taoflow{position:absolute;}
.generic-list dl>dd>span.clicked{right:0;bottom:0;color:#bfbfbf;font-size:.12rem;line-height:.12rem;}
.generic-list dl>dd>div.tags,.generic-list dl>dd>div.taoflow{left:0;bottom:0;}
.generic-list dl>dd>div.tags{width:70%;height:calc(.15rem + 2px);overflow:hidden;}
.generic-list dl>dd>div.tags>span{float:left;line-height:.15rem;border:solid 1px #2cbcff;display:inline-block;padding:0 .04rem;margin-right:.05rem;border-radius:.015rem;font-size:.1rem;color:#2cbcff;}
.generic-list dl>dd>div.taoflow{line-height:.2rem;padding-left:.25rem;}
.generic-list dl>dd>div.taoflow:before{content:'送';display:block;width:.2rem;height:.2rem;border-radius:.02rem;background-color:#ff7801;text-align:center;color:#fff;position:absolute;left:0;top:0;background-size:cover;border-radius:.02rem;}
.generic-list dl>dd>div.taoflow>span{border:solid 1px #ff7801;border-radius:.02rem;color:#ff7801;display:inline-block;line-height:.195rem;padding:0 .05rem;}
.generic-list dl>dd>span.publish-time{position:absolute;bottom:0;color:#bfbfbf;font-size:.12rem;line-height:.12rem;}
.generic-list dl>dd>span.publish-time:before{margin-right:.05rem;}
