@charset "utf-8";
html{-webkit-text-size-adjust:100%;font-size:100px;}
html,body{width:100%;}
body{font-size:0.12rem;background-color:#fff;
  -webkit-touch-callout:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);

  user-select:none;
}
body,select,input,button,textarea{font-family:'Microsoft Yahei','PingFangSC-Regular','Source Han Sans CN Regular','Noto Sans CJK SC Regular','Helvetica Neue','Droid Sans','Lucida Grande','Lucida Sans Unicode',Arial,Verdana,sans-serif;}
html,body,ul,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,figure{margin:0;padding:0;}
select,input,button,textarea{outline:none;resize:none;-webkit-appearance:none;border-radius:0.01rem;padding:0;}
input:focus,textarea:focus,keygen:focus,select:focus{outline-offset:0;}
li{list-style-type:none;}
a,s{text-decoration:none;}
h1,h2,h3,h4,h5,h6,b,em{font-weight:normal;}
i,em{font-style:normal;}
a:focus{outline:none;}

/* 字体粗细 */
.t-thin{font-family:'PingFangSC-Thin','Source Han Sans CN Thin','Noto Sans CJK SC Thin';}
.t-light{font-family:'PingFangSC-Light','Noto Sans CJK SC Light','Source Han Sans CN Light';}
.t-regular{font-family:'PingFangSC-Regular','Source Han Sans CN Regular','Noto Sans CJK SC Regular';}
.t-bold{font-family:'PingFangSC-Medium','Source Han Sans CN Medium','Noto Sans CJK SC Medium';}

::-webkit-input-placeholder{color:rgba(0,0,0,0.5);}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:'';clear:both;height:0;overflow:hidden;}
.abscenter{position:absolute;left:50%;top:50%;
    transform:translate(-50%, -50%);
}
.backdrop{backdrop-filter:saturate(100%) blur(0.1rem);-webkit-backdrop-filter:saturate(100%) blur(0.1rem);}

/* 线条 */
.leftline:before,.rightline:after,.overline:before,.underline:after{content:'';display:block;position:absolute;z-index:1;background-color:rgba(0,0,0,.05);
  transform:translate(-50%, -50%);
  -webkit-transform:translate(-50%, -50%);
}
.leftline:before,.rightline:after{width:1px;height:100%;top:50%;}
.overline:before,.underline:after{width:100%;height:1px;left:50%;}
.leftline:before{left:0;}
.rightline:after{right:0;}
.overline:before{top:0;}
.underline:after{bottom:0;}
