@charset "utf-8";
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1476846567_644653.woff') format('woff'),url('//at.alicdn.com/t/font_1476846567_644653.ttf') format('truetype');
}
.iconfont:before,
.iconfont:after {
  font-family: 'iconfont' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* arrow */
.i-arrow-left-bfo:before,
.i-arrow-left-aft:after {
  content: '\e608';
}
.i-arrow-right-bfo:before,
.i-arrow-right-aft:after {
  content: '\e60b';
}
.i-arrow-up-bfo:before,
.i-arrow-up-aft:after {
  content: '\e60c';
}
.i-arrow-down-bfo:before,
.i-arrow-down-aft:after {
  content: '\e60d';
}

/* account */
.i-verify-bfo:before,
.i-verify-aft:after {
  content: '\e610';
}
.i-password-bfo:before,
.i-password-aft:after {
  content: '\e611';
}
.i-cellphone-bfo:before,
.i-cellphone-aft:after {
  content: '\e612';
}

/* sns */
.i-wechat-bfo:before,
.i-wechat-aft:after {
  content: '\e618';
}
.i-qq-bfo:before,
.i-qq-aft:after {
  content: '\e61a';
}
.i-weibo-bfo:before,
.i-weibo-aft:after {
  content: '\e61b';
}

/* project */
.i-ttuhui-bfo:before,
.i-ttuhui-aft:after {
  content: '\e642';
}
.i-uhuibao-bfo:before,
.i-uhuibao-aft:after {
  content: '\e643';
}
.i-taoflow-bfo:before,
.i-taoflow-aft:after {
  content: '\e63f';
}

/* icon */
.i-checkin-bfo:before,
.i-checkin-aft:after {
  content: '\e600';
}
.i-clock-bfo:before,
.i-clock-aft:after {
  content: '\e601';
}
.i-collect-bfo:before,
.i-collect-aft:after {
  content: '\e602';
}
.i-search-bfo:before,
.i-search-aft:after {
  content: '\e603';
}
.i-ucenter-bfo:before,.i-ucenter-aft:after {
  content: '\e604';
}
.i-coupon-bfo:before,
.i-coupon-aft:after {
  content: '\e605';
}
.i-sim-bfo:before,
.i-sim-aft:after {
  content: '\e606';
}
.i-flow-log-bfo:before,
.i-flow-log-aft:after {
  content: '\e607';
}
.i-flow-bfo:before,
.i-flow-aft:after {
  content: '\e60a';
}
.i-telphone-bfo:before,
.i-telphone-aft:after {
  content: '\e617';
}
.i-email-bfo:before,
.i-email-aft:after {
  content: '\e60e';
}
.i-link-bfo:before,
.i-link-aft:after {
  content: '\e60f';
}
.i-follow-bfo:before,
.i-follow-aft:after {
  content: '\e613';
}
.i-compass-bfo:before,
.i-compass-aft:after {
  content: '\e614';
}
.i-logout-bfo:before,
.i-logout-aft:after {
  content: '\e615';
}
.i-book-bfo:before,
.i-book-aft:after {
  content: '\e616';
}
.i-location-bfo:before,
.i-location-aft:after {
  content: '\e609';
}
.i-alipay-bfo:before,
.i-alipay-aft:after {
  content: '\e619';
}
.i-delete-bfo:before,
.i-delete-aft:after {
  content: '\e61c';
}
.i-success-bfo:before,
.i-success-aft:after {
  content: '\e61d';
}
.i-doubt-bfo:before,
.i-doubt-aft:after {
  content: '\e62d';
}
.i-error-bfo:before,
.i-error-aft:after {
  content: '\e61e';
}
.i-close-bfo:before,
.i-close-aft:after {
  content: '\e61f';
}
.i-less-bfo:before,
.i-less-aft:after {
  content: '\e620';
}
.i-plus-bfo:before,
.i-plus-aft:after {
  content: '\e621';
}
.i-scan-bfo:before,
.i-scan-aft:after {
  content: '\e622';
}
.i-scan-barcode-bfo:before,
.i-scan-barcode-aft:after {
  content: '\e623';
}
.i-scan-all-bfo:before,
.i-scan-all-aft:after {
  content: '\e62e';
}
.i-tel-circle-bfo:before,
.i-tel-circle-aft:after {
  content: '\e624';
}
.i-checked-bfo:before,
.i-checked-aft:after {
  content: '\e62b';
}
.i-list-bfo:before,
.i-list-aft:after {
  content: '\e62a';
}
.i-package-bfo:before,
.i-package-aft:after {
  content: '\e629';
}
.i-inventory-bfo:before,
.i-inventory-aft:after {
  content: '\e628';
}
.i-bind-bfo:before,
.i-bind-aft:after {
  content: '\e627';
}
.i-recharge-bfo:before,
.i-recharge-aft:after {
  content: '\e626';
}
.i-log-bfo:before,
.i-log-aft:after {
  content: '\e625';
}
.i-share-tips-bfo:before,
.i-share-tips-aft:after {
  content: '\e62c';
}
.i-shopping-cart-bfo:before,
.i-shopping-cart-aft:after {
  content: '\e630';
}
.i-order-bfo:before,
.i-order-aft:after {
  content: '\e62f';
}
.i-calendar-bfo:before,
.i-calendar-aft:after {
  content: '\e631';
}
.i-alarm-bfo:before,
.i-alarm-aft:after {
  content: '\e632';
}
.i-edit-bfo:before,
.i-edit-aft:after {
  content: '\e633';
}
.i-map-bfo:before,
.i-map-aft:after {
  content: '\e634';
}
.i-account-bfo:before,
.i-account-aft:after {
  content: '\e636';
}
.i-home-bfo:before,
.i-home-aft:after {
  content: '\e637';
}
.i-article-bfo:before,
.i-article-aft:after {
  content: '\e638';
}
.i-store-bfo:before,
.i-store-aft:after {
  content: '\e639';
}
.i-coupon2-bfo:before,
.i-coupon2-aft:after {
  content: '\e63a';
}
.i-gift-bfo:before,
.i-gift-aft:after {
  content: '\e63b';
}
.i-4g-bfo:before,
.i-4g-aft:after {
  content: '\e63c';
}
.i-voice-bfo:before,
.i-voice-aft:after {
  content: '\e63d';
}
.i-query-bfo:before,
.i-query-aft:after {
  content: '\e63e';
}
.i-up-bfo:before,
.i-up-aft:after {
  content: '\e640';
}
.i-unicom-voice-bfo:before,
.i-unicom-voice-aft:after {
  content: '\e641';
}
.i-unicom-flow-bfo:before,
.i-unicom-flow-aft:after {
  content: '\e644';
}
.i-unicom-4g-bfo:before,
.i-unicom-4g-aft:after {
  content: '\e645';
}
.i-play-bfo:before,
.i-play-aft:after {
  content: '\e646';
}
.i-rotation-bfo:before,
.i-rotation-aft:after {
  content: '\e647';
}
.i-verified-bfo:before,
.i-verified-aft:after {
  content: '\e648';
}
.i-signal-bfo:before,
.i-signal-aft:after {
  content: '\e649';
}
.i-service-bfo:before,
.i-service-aft:after {
  content: '\e64a';
}
.i-404-bfo:before,
.i-404-aft:after {
  content: '\e64b';
}
