@charset "utf-8";
.ui-passport-widget {
  position: fixed;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, .6);
  &.fade-enter-active{
    animation: fadeIn .4s ease;
  }
  &.fade-leave-active{
    animation: fadeOut .3s ease;
  }
  & > .widget-animate {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    &.zoom-enter-active{
      animation: zoomIn .4s ease;
    }
    &.zoom-leave-active{
      animation: zoomOut .3s ease;
    }
    & > .form-animate {
      position: absolute;
      width: 85%;
      top: 50%;
      left: 50%;
      background-color: #fff;
      box-shadow: 0 .01rem .03rem rgba(0,0,0,.2);
      z-index: 2;
      border-radius: .03rem;
      transition: all .5s cubic-bezier(.55,0,.1,1);
      transform: translate(-50%, -50%);
      &.slide-up-enter {
        opacity: 0;
        transform: translate(-50%, -45%);
      }
      &.slide-up-leave-active {
        opacity: 0;
        transform: translate(-50%, -45%);
      }
      & > a {
        width: .28rem;
        height: .28rem;
        line-height: .28rem;
        text-align: center;
        display: block;
        position: absolute;
        z-index: 1;
        top: -.14rem;
        right: -.14rem;
        border-radius: 50%;
        background-color: #fff;
        &:before {
          color: #999;
        }
      }
      & > .from-wrap {
        padding: .2rem;
        .form-title {
          font-size: .16rem;
          text-align: center;
          padding-bottom: .1rem;
        }
        .form-table {
          & > li {
            position: relative;
            & > label {
              display: block;
              padding: .16rem 0 .16rem .3rem;
              height: .16rem;
              position: relative;
              &.short {
                margin-right: 1rem;
              }
              &:before {
                font-size: .16rem;
                color: #c7d1da;
                line-height: 1em;
                position: absolute;
                left: 0;
                top: 50%;
                margin-top: -.5em;
              }
              & > input {
                border: none;
                height: .16rem;
                width: 100%;
                line-height: .16rem;
                font-size: .14rem;
              }
            }
            & > span {
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
              line-height: .3rem;
              padding: 0 .1rem;
              font-size: .14rem;
              border-radius: .03rem;
              background-color: #2dbcff;
              color: #fff;
              z-index: 1;
              transition: background-color .2s ease, color .2s ease;
              &.disabled {
                background-color: #f2f2f2;
                color: #ccc;
              }
            }
          }
        }
        .from-link {
          font-size: .14rem;
          color: #ffaa18;
          padding-top: .2rem;
        }
        .form-submit {
          padding-top: .2rem;
          & > span {
            float: left;
            width: 50%;
            &:nth-of-type(1) {
              & > a {
                margin-right: .1rem;
              }
            }
            &:nth-of-type(2) {
              & > a {
                margin-left: .1rem;
              }
            }
          }
          a {
            border-radius: .03rem;
            text-align: center;
            line-height: .4rem;
            font-size: .14rem;
            display: block;
            color: #666;
            border: solid 1px #f2f2f2;
            transition: background-color .2s ease, border-color .2s ease, color .2s ease;
            &.disabled {
              background-color: #f2f2f2;
              border-color: #f2f2f2;
              color: #ccc;
            }
            &.important {
              background-color: #5fb8f1;
              border-color: #5fb8f1;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
